################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Website/App_Data/GalleryData.sdf
/Website/bin
/Website/obj
/Website/gs/mediaobjects
/packages
/TIS.GSP.Business/bin
/TIS.GSP.Business/obj
/TIS.GSP.Business.Interfaces/bin
/TIS.GSP.Business.Resources/obj
/TIS.GSP.Data/bin
/TIS.GSP.Events/bin
