################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
*.suo
*.user
_ReSharper.*
bin
obj
packages
/Website/App_Data/GalleryData.sdf
/Website/gs/mediaobjects


