<?xml version="1.0"?>
<configuration>
	<location path="upload.ashx">
		<system.web>
			<httpRuntime maxRequestLength="2097151" executionTimeout="86400" />
		</system.web>
	</location>
	<location path="getmedia.ashx">
		<system.web>
			<httpRuntime executionTimeout="14400" />
		</system.web>
	</location>
</configuration>
